{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        *.body {
            text-align: center;
            border: 3px solid green;
            border-spacing: 10px;
        }
    </style>

    <div class="body">
        {% if user %}
            <h1>Change direction</h1>
            {{ form_start(form) }}
            {{ form_row(form.direction) }}
            <div><p> </p></div>
            <button type="submit" class="btn">Submit</button>
            {{ form_end(form) }}
        {% else %}
            <h3>
                You are not logged in. Make an account below:
            </h3>
            <a href="{{ path('app_register') }}">Create A New User Account</a>
            <br>
        {% endif %}
    </div>
{% endblock %}
