{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <style>
        *.body {
            text-align: center;
            border: 3px solid green;
            border-spacing: 10px;
        }
    </style>

    <div class="body">
        <h1>Hello direction</h1>
    </div>
{% endblock %}
