{% extends 'base.html.twig' %}

{% block title %}Change Focus{% endblock %}

{% block body %}
    <style>
        *.body {
            text-align: center;
            border: 3px solid green;
            border-spacing: 10px;
        }
    </style>

    <div class="body">
        <h1>Change Focus</h1>
        <h1>Does Nothing right now</h1>

        {{ form_start(form) }}
        {{ form_row(form.Focus) }}
        <div><p> </p></div>
        <button type="submit" class="btn">Submit</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
